accelerate==1.2.1
bert_score==0.3.13
datasets==3.2.0
huggingface_hub==0.25.1
ipex_llm==2.1.0
langchain==0.3.14
langchain_core==0.3.29
llama_index==0.12.9
matplotlib==3.10.0
modelscope==1.21.1
nest_asyncio==1.6.0
nltk==3.9.1
numba==0.60.0
nvidia_ml_py==12.535.161
openai==1.59.3
pandas==2.2.3
Pillow==11.1.0
protobuf==3.12.4
pynvml==11.5.3
pyRAPL==0.2.3.1
regex==2024.11.6
Requests==2.32.3
rouge==1.0.1
rouge_score==0.1.2
scikit_learn==1.6.0
scipy==1.15.0
sentence_transformers==3.3.1
torch==2.4.1
tqdm==4.66.5
transformers==4.47.1
uptrain==0.7.1
